<h1>訂單資訊</h1>

<h1><%= link_to "建立新訂單", new_order_path, :class => "btn btn-warning btn-lg"%></h1>

<table class="table">
  <tr>
    <td>編號</td>
    <td>姓名</td>
    <td>電話</td>
    <td>總價</td>  
  </tr>
  <%@orders.each do |order|%>
    <tr>
      <td><%=link_to order.id, order_path(order)%></td>
      <td><%=order.name%></td>
      <td><%=order.phone%></td>
      <td><%=order.total_price%>元</td>
      <td><%=link_to "刪除", order_path(order), :method => :delete, :class =>"btn btn-danger", data: {confirm: "你確定要刪除： #{order.name}的訂單?"}%></td>
    </tr>
  <%end%>
</table>


