<h1>order index</h1>

<%= form_for @order, :url => orders_path, :method => :post do |f|%>

  <div class="form-group">
    <%= f.label :name, "Name" %>
    <%= f.text_field :name %>
  </div>

  <div class="form-group">
    <%= f.label :product_list, "Products" %>
    <%= f.select :product_list, Product.all.map{ |x| [x.name, x.id]}, {}, :multiple => "true" , :class => "form-control"%>
  </div>

  <%= f.submit "建立新清單" %>

<%end%>

<hr>

<table class="table">
  <%@orders.each do |order|%>
    <tr>
      <td><%=link_to order.name, order_path(order)%></td>

    </tr>
  <%end%>
</table>

<script>
  $("#order_product_list").select2({
     tags: <%=raw Product.all.map{ |p| p.name }.to_json %>,
     tokenSeparators: [',', ' ']
   });
</script>



