<h1>新訂單資訊</h1>

<h4>訂單編號:<%=@order.id%></h4>
<%= form_for @order, :url => orders_path, :method => :post  do |f|%>
  
  <div class="form-group">
    <%= f.label :name, "姓名" %>
    <%= f.text_field :name %>
  </div>
  
  <div class="form-group">
    <%= f.label :address, "地址" %>
    <%= f.text_field :address %>
  </div>
  
  <div class="form-group">
    <%= f.label :phone, "電話" %>
    <%= f.text_field :phone %>
  </div>

  <%= f.submit "送出", :class => "btn btn-info btn-lg" %>
<%end%>

