<h1>Order show</h1>

<h2>order_name:<%=@order.name%></h2>
<h2>order_id:<%=@order.id%></h2>

<table class="table">
  <tr>
    <td>id</td>
    <td>name</td>
  </tr>

  <% @order.products.each do |p|%>
    <tr>
      <td><%=p.id%></td> 
      <td><%=p.name%></td>
    </tr>
  <%end%>
</table>



<%=form_for @order, :url => order_path(@order) do |f|%>
  <div class="form-group">
    <%= f.label :product_list, "Product" %>
    <%= f.select :product_list, Product.all.map{ |x| [x.name, x.id]}, {}, :multiple => "true" , :class => "form-control"%>
  </div>

  <%= f.submit "Update" %>
<%end%>

<script>
  $("#order_product_list").select2({
     tags: <%=raw Product.all.map{ |p| p.name }.to_json %>,
     tokenSeparators: [',', ' ']
   });
</script>