<h1>訂單資訊</h1>

<h4>訂單編號:<%=@order.id%></h4>
<%= form_for @order, :url => order_path(@order), :method => :patch do |f|%>

  <div class="form-group">
    <%= f.label :name, "姓名" %>
    <%= f.text_field :name %>
  </div>
  <div class="form-group">
    <%= f.label :address, "地址" %>
    <%= f.text_field :address %>
  </div>
  <div class="form-group">
    <%= f.label :phone, "電話" %>
    <%= f.text_field :phone %>
  </div>

  <div class="form-group">
    <%= f.label :product_list, "產品" %>
    <%= f.select :product_list, Product.all.map{ |x| [x.name, x.id]}, {}, :multiple => "false" , :class => "form-control"%>
  </div>

  <div class="form-group">
    <%= f.label :order_number, "數量" %>
    <%= f.text_field :order_number, :class => "form-control"%>
  </div>

  <%= f.submit "送出" %>
<%end%>

<br>
<table class="table">
  <tr>
    <td>產品ID</td>
    <td>品名</td>
    <td>單價</td>
    <td>數量</td>
    <td>單位</td>
    <td>小記</td>
  </tr>

  <% @order.products.each do |p|%>
    <tr>
      <td><%=p.id%></td> 
      <td><%=p.name%></td>
      <td><%=p.price%></td>
      <td><%=@order.product_number(p)%></td>
      <td><%=p.unit%></td>
      <td><%=@order.product_subtotal(p)%>元</td>
      <td><%=link_to "刪除", order_path(@order,:product_id => p.id), :method=>:delete, :class => "btn btn-danger"%></td>
    </tr>
  <%end%>
</table>


<div class="col-md-4 col-md-offset-8">
  <h4> 總計：<%=@order.total_price%> 元 
  <%=link_to "完成", orders_path, :class => "btn btn-success" %></h4>
</div>

<script>
  $("#order_product_list").select2({
     tags: <%=raw Product.all.map{ |p| p.name }.to_json %>,
     tokenSeparators: [',', ' ']
   });
</script>