<h1>admin products index</h1>

<table class="table">
  <tr>
    <td>品名</td>
    <td>敘述</td>
    <td>單位</td>
    <td>價格(台幣)</td>
  </tr>

  <% @products.each do |p|%>
    <tr> 
      <td> <%=link_to p.name, edit_admin_product_path(p)%></td>
      <td> <%=p.description%></td>
      <td> <%=p.unit%></td>
      <td> <%=p.price%></td>
    </tr>
  <%end%>
</table>


<hr>
<%= link_to "新建產品", new_admin_product_path, :class =>"btn btn-default"%>