<h1>admin products new</h1>

<%=form_for @product, :url => admin_products_path, :method => :post do|f|%>


<div class="form-group">
  <%= f.label :name, "Name" %>
  <%= f.text_field :name %>
</div>

<div class="form-group">
  <%= f.label :description, "Description" %>
  <%= f.text_area :description %>
</div>

<div class="form-group">
  <%= f.label :unit, "Unit" %>
  <%= f.text_field :unit %>
</div>

<div class="form-group">
  <%= f.label :price, "Price" %>
  <%= f.text_field :price %>
</div>

  <%= f.submit "Create" %>

<%end%>