<!DOCTYPE html>
<html>
<head>
  <title>ShoppingCart</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>




<div class="container">
  <div class="row">
    <div class="col-md-12">
      <%= link_to "產品清單", products_path, :class =>"btn btn-info"%>
      <%= link_to "管理產品", admin_products_path, :class =>"btn btn-info"%>
      <% if flash[:alert].present? %>
        <div class="alert alert-danger" role="alert">
          <%= flash[:alert]%>
        </div>
      <%end%>
      <% if flash[:notice].present? %>
        <div class="alert alert-success" role="alert">
          <%= flash[:notice]%>
        </div>
      <%end%>

      <%= yield %>
    </div>
  </div>
</div>


</body>
</html>
