<!DOCTYPE html>
<html>
<head>
  <title>ShoppingCart</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>




<div class="container">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-4 col-sm-4">
          <div id="order-btn">
            <%= link_to orders_path do%>
              <div>
                <h1>訂單</h1>
              </div>
            <%end%>
          </div>
        </div>

        <div class="col-md-4 col-sm-4">
          <div id="product-btn">
            <%= link_to products_path do%>
              <div>
                <h1>產品</h1>
              </div>
            <%end%>
          </div>
        </div>

        <div class="col-md-4 col-sm-4">
          <div id="customer-btn">
            <%= link_to customers_path do%>
              <div>
                <h1>客戶</h1>
              </div>
            <%end%>
          </div>
        </div> 
      </div> 
    </div>

    <div class="col-md-12">
        <% if flash[:alert].present? %>
          <div class="alert alert-danger" role="alert">
            <%= flash[:alert]%>
          </div>
        <%end%>
        <% if flash[:notice].present? %>
          <div class="alert alert-success" role="alert">
            <%= flash[:notice]%>
          </div>
        <%end%>

        <%= yield %>
    </div>
</div>


</body>
</html>
